# DATA TYPES AND VARIABLES

_____________________________________________________________________

## Numeric

Any representation of data which has numeric value. Python identifies three types of numbers – integer, float and complex number.

### Integer

Positive and negative whole numbers.

Examples: 1234, -234, 0x46 (hexadecimal number), 0O123 (octal number))

Note: In C and related programming languages such as Python, a hexadecimal number is prefixed with 0x and an octal number is prefixed with 0O.

### Float

Real numbers with a floating point representation in which the fractional component is denoted by a decimal or scientific notation

Examples: -55.550, 0.005, 1.32E10 (scientific notation))

### Complex number

A number with a real and imaginary component is represented as a + bj inPython where a and b are floats and

j = √-1
​​​Examples: 4+6j, -2.3+6.4j

Note: The common mathematical representation of a complex number uses a +bi with i being the imaginary part. But in electronics j is used because i already represent current and the next letter after i is j.

## Boolean

Any representation of data which has two values denoted by True and False.

## Sequences

An ordered collection of similar or different data types. The built-in Sequence data types in Python are – String, List, and Tuple.

### String

A collection of one or more characters put in single, double or triple quotes.

Examples: ‘Hello’, "Hello", "'Hello'", """Hello"""

In [5]:
s = "Python is AMAZING!"
print(s)

Python is AMAZING!

### List

An ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

Examples:  [1,"Ravi",75.50, True]

In [1]:
l = [1,"Ravi",75.50, True]
print(l)

[1, 'Ravi', 75.5, True]

### Tuple

An ordered collection of one or more data items, not necessarily of the same type put in parentheses. The contents of a tuple cannot be modified – it is immutable - after the tuple is created.

Examples: (1,"Ravi", 75.50, True)

In [4]:
t = (1,"Ravi", 75.50, True)
print(t)

(1, 'Ravi', 75.5, True)

When a program is run, data objects in the program are stored in the computer’s memory for processing. While some of these objects can be modified at that memory location, other data objects can’t be modified once they are stored in the memory. The property of whether or not data objects can be modified in the same memory location where they are stored is called <b>mutability.</b> <br> For Example:

In [10]:
a = (2,3,4)
print(a[1])

3

In [11]:
a[2] = 100

TypeError: 'tuple' object does not support item assignment

To get the Memory Location of a certain Data Element in the Memory:

In [12]:
print(id(a))

90060240

This gives the Memory Address of the tuple a <br><br>
<b>Immutable</b>: numeric, string, and tuple <br>
<b>Mutable</b>: list, dictionary

<b>Python has an in-built function – type() to check the data type.</b>

In [15]:
print(type(2))
print(type(2.30))
print(type("Python"))
print(type(6+4j))
print(type([2,3,4]))
print(type((2,3,4)))
print(type({'a' : 1, 'b' : 2}))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

Variables in Python are not bound by Data-types, thta means, Python compiler dynamically recognises the type of data stored in a variable and stores it in the memory.

In [16]:
age = "TwentyTwo"
print(type(age))
print(id(age))

<class 'str'>
92505656

In [17]:
age = 22
print(type(age))
print(id(age))

<class 'int'>
1585210880

Python recognises that we changed the age to an integer in the 2nd statement. Thus its memory location is changed as well.

## Numeric Datatypes

Python identifies 3 Numeric Data Types.<br>
1. Integers<br>
2. Float<br>
3. Complex

<b>INTEGERS</b>

 All the integers are comprised in the Integer class in Python.

In [18]:
print(type(0))
print(type(2))
print(type(-35))

<class 'int'>
<class 'int'>
<class 'int'>

Python also supports Binary, Octal and Hexa-Decimal Numbers to be represented.

In [26]:
print(type(0b0101))
print(type(0o07))
print(type(0x12))

<class 'int'>
<class 'int'>
<class 'int'>

Even when we try to print these numerals onto the console, It prints it's Decimal Equivalent.

In [27]:
print(0b011)
print(0x12)
print(0o17)

3
18
15

<b>FLOATING POINT VALUES</b>

Float Type comprises all the Signed Real Numbers.<br>
For Exanmple: 22.5, -37.56 etc

Numbers represented in their scientific notations are also examples of Floating Point Values.

In [28]:
print(type(35.5))
print(type(-27.54))
print(type(2.4e5))
print(2.4e5)

<class 'float'>
<class 'float'>
<class 'float'>
240000.0

<b>COMPLEX NUMBERS</b>

its in the form x+yj, where both x and y are floating point values.

In [30]:
print(type(3+5j))
print(type(4j))
print(type(4.1e5-6+5j))

<class 'complex'>
<class 'complex'>
<class 'complex'>

<b>TYPE CONVERSION OF NUMERIC DATA TYPES</b>

In [2]:
print(int(39.0))
print(int("39"))

39
39

this can also be used to convert a number of different base to an interger.

In [3]:
print(int('12',8))

10

this prints the decimal equivalent of octal number '12'.

for floats with negative powers, we have to do something like this

In [15]:
print(float('1e-3'))

0.001

### complex

In [17]:
print(complex(2,3))

(2+3j)